# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-storage-blob
azure-cosmos
azure-identity
azure-mgmt-datafactory
azure-search-documents==11.5.2
azure-ai-documentintelligence
azure-ai-formrecognizer
azure-cognitiveservices-vision-computervision
# azure-ai-vision
azure-keyvault-secrets
azure-core
openai
pandas
filetype
PyPDF2
fpdf2
pypdf
PyMuPDF
Pillow
pytz
langchain
guidance
tenacity
# textract
pikepdf
pdf2image
poppler-utils
tiktoken
mistune